# Dependencies
node_modules/

# Next.js
.next/
out/

# Env files
.env*
.env.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS/editor
.DS_Store
.vscode/
.idea/

# Misc
coverage/
*.local

# Build outputs
dist/
build/
*.tsbuildinfo

# Cache
.cache/
.turbo/
