# Dependencies
node_modules/

# Next.js
.next/
out/

# Env files
.env*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS/editor
.DS_Store
.vscode/
.idea/

# Misc
coverage/
*.local

node_modules
